[submodule "app/src/main/OpenCV-Repackaged"]
	path = app/src/main/OpenCV-Repackaged
	url = https://github.com/OpenFTC/OpenCV-Repackaged.git
[submodule "orbslam/src/main/orbslam/src/main/OpenCV-Repackaged"]
	path = orbslam/src/main/orbslam/src/main/OpenCV-Repackaged
	url = https://github.com/OpenFTC/OpenCV-Repackaged.git
[submodule "orbslam/src/main/OpenCV-Repackaged"]
	path = orbslam/src/main/OpenCV-Repackaged
	url = https://github.com/OpenFTC/OpenCV-Repackaged.git
